<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../static/aboutstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <ul id="navbar">
        <li><a href="/">Random</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <div id="aboutsection">
        <h1>About</h1>
        <p>This is a simple program that generates a random champion using various filters.
        It was created using: Python(Flask), HTML, CSS, and Javascript(jQuery).</p>
    </div>

    <p id="disclaimer">Random Champion Selector isn’t endorsed by Riot Games and doesn’t
        reflect the views or opinions of Riot Games or anyone officially involved in producing
        or managing League of Legends. League of Legends and Riot Games are trademarks or
        registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>

</body>
</html>